<div class = "render-question-comment" >
  <% @question.comments.each do |comment| %>
  <div class = "question-comment">
    <%= comment.body %><br>
    <%= comment.user.username %>
  <% end %>
  </div>
</div>
