<h1>SHOW Page </h1>

<%= render partial: 'question' %>
<%= render partial: 'question_comment' %>

<hr>

<h3>Answers</h3>

<%= render partial: 'question_answer'%>
<%= render partial: 'answer_comment' %>

