.answer-partial {
  font-size: 16px;
  background-color: #787878;
  color: white;
}

.comment-partial {
  font-size: 16px;
  padding:10px;
  background-color: #787878;
  color: white;
}

.wrap {
  background-color: #888888;
  padding: 5px;
}

.question-partial {
  font-size: 16px;
  padding: 20px;
}

.body-style {
  background-color: #888888 ;
  padding: 10px;
  font-size: 16px;
  margin: 15px;
}

.center {
  text-align: center;
}

.votes {
  width: 200px;
  font-weight: bold;
  padding-top 5px;
}

.move-left {
  float: left;
}

.thickness {
  border: 1px solid white;
}

#question-info {
  background-color: #787878;
  color: #E8E8E8;
  margin-top: 10px;
}

#question-info li {
  color: #E8E8E8;
}

h2 {
  border-bottom: 2px solid white;
  font-weight: bold;
  background-color: #505050;
  margin: 0;
  padding: 20px;
  color: white;
}

body {
  background-color: lightgray;
}

.size {
  width: 300px;
  margin: 0 auto;
}

.size-2 {
  width: 500px;
  margin: 0 auto;
}

.move-right {
  float: right;
  padding-right: 50px;
}

#site-info {
  font-size: 18px;
  border: 3px solid black;
  padding: 10px;
  font-weight: bold;
}

h1 {
  font-family: courier;
  font-size: 50px;
  background-color: lightgray;
  margin-top: -20px;
  padding: 15px;
}

span {
  font-weight: bold;
}

#icon {
  width: 60px;
  height: 60px;
}

#index-body {
  background-color: lightgray;
  margin-top: -20px;
}

.login {
  background-color: blue;
}

.navbar-default {
  background-color: black;
}

li {
  color: white;
  list-style: none;
  display: inline-block;
  font-size: 18px;
  padding: 10px;
  padding-top: 15px;
}

a {
  color: white;
}

a:hover {
  background-color: white;
  text-decoration: none;
}

.question-index {
  background-color: gray;
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 0;
}

.question-spacing {
  padding: 10px;
  margin-top: 2%;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */
